h1 {
  text-decoration: underline;
}
/* style rule for skip navigation link */
.skip {
  position: absolute;
  left: -999px;
}

.skip:focus {
  color: #fff;
  background-color: #2a1f14;
  text-decoration: none;
  padding: 0.5%;
  top: auto;
  left: auto;
  right: 1px;
  z-index: 1;
}
